In [1]:
import numpy as np
import pandas as pd

In [6]:
# help(pd.Series) # prikaze dokumentaciju

In [15]:
myindex=['USA', 'Canada', 'Mexico']
mydata = [1776,1867,1821]
myser = pd.Series(mydata,myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [16]:
print(myser[0])
print(myser['USA'])

1776
1776

In [17]:
ages = {'Sam': 5,'Frank':10,'Spike':7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64