In [3]:
import numpy as np
import pandas as pd

In [6]:
# help(pd.Series) # prikaze dokumentaciju

In [15]:
myindex=['USA', 'Canada', 'Mexico']
mydata = [1776,1867,1821]
myser = pd.Series(mydata,myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [16]:
print(myser[0])
print(myser['USA'])

1776
1776

In [17]:
ages = {'Sam': 5,'Frank':10,'Spike':7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [4]:
    # imaginary sales data
    q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
    q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}
    sales_q1 = pd.Series(q1)
    sales_q2 = pd.Series(q2)

In [8]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [9]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [10]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [11]:
sales_q1.add(sales_q2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [13]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [14]:
sales_q1.dtype

dtype('int64')