In [2]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html
import pandas as pd
import os

In [3]:
pwd

'/Users/marko/Projects/python/python_ml_ds'

In [8]:
ls

1.python_crach_course.py            3.5.pandas-missing-data.ipynb
2.1.numpy.ipynb                     3.6-mpg.csv
2.2.numpy-selection-indexing.ipynb  3.6.pandas-groupby.ipynb
2.3.numpy-operations.ipynb          3.7.pandas-combining.ipynb
3.1.pandas-series.ipynb             3.8.pandas-string-methods.ipynb
3.10-example.csv                    3.9-RetailSales_BeerWineLiquor.csv
3.10.pandas-csv.ipynb               3.9.pandas-date-and-time.ipynb
3.2-tips.csv                        Pipfile
3.2.pandas-data-frames.ipynb        Pipfile.lock
3.3.pandas-filtering.ipynb          README.md
3.4.pandas-useful-methods.ipynb     requirements.txt
3.5-movie_scores.csv

In [5]:
os.getcwd() # cwd curet working directory

'/Users/marko/Projects/python/python_ml_ds'

In [7]:
os.listdir()

['2.1.numpy.ipynb',
 '3.3.pandas-filtering.ipynb',
 '3.10-example.csv',
 'requirements.txt',
 '3.9.pandas-date-and-time.ipynb',
 '3.2.pandas-data-frames.ipynb',
 '3.5-movie_scores.csv',
 '3.2-tips.csv',
 '3.6.pandas-groupby.ipynb',
 '1.python_crach_course.py',
 '3.5.pandas-missing-data.ipynb',
 'README.md',
 'Pipfile',
 '3.10.pandas-csv.ipynb',
 '3.4.pandas-useful-methods.ipynb',
 '2.3.numpy-operations.ipynb',
 '3.6-mpg.csv',
 '3.7.pandas-combining.ipynb',
 '3.1.pandas-series.ipynb',
 '.git',
 '.vscode',
 'Pipfile.lock',
 '3.9-RetailSales_BeerWineLiquor.csv',
 '3.8.pandas-string-methods.ipynb',
 '2.2.numpy-selection-indexing.ipynb']

In [11]:
df=pd.read_csv('3.10-example.csv',header=None)
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [12]:
df=pd.read_csv('3.10-example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
df=pd.read_csv('3.10-example.csv',index_col=0)
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [17]:
df.to_csv('3.10-example-custom.csv', index=True) # defaultno je true, spremi i index u csv