In [3]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(101) # proizvoljno odaberemo seed 101
mydata = np.random.randint(0,101,(4,3))
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [8]:
myindex = ['CA', 'NY', 'AZ', 'TX']
mycolumns = ['Jan', 'Feb', 'Mar']
df = pd.DataFrame(mydata,myindex,mycolumns)
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [10]:
pwd

'/Users/marko/Projects/python/python_ml_ds'

In [11]:
ls

1.python_crach_course.py            3.2.pandas-data-frames.ipynb
2.1.numpy.ipynb                     Pipfile
2.2.numpy-selection-indexing.ipynb  Pipfile.lock
2.3.numpy-operations.ipynb          README.md
3.1.pandas-series.ipynb             requirements.txt