In [1]:
import numpy as np
import pandas as pd
# https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [3]:
email='jose@email.com'
email.split('@')

['jose', 'email.com']

In [4]:
names = pd.Series(['adrew','bobo','claire','david','5'])
names

0     adrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [5]:
names.str.upper()

0     ADREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [6]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [7]:
tech_finance=['GOOGLE,APPLE,AMAZON','JPM,BAC,GS']
len(tech_finance)

2

In [8]:
tickers = pd.Series(tech_finance)
tickers

0    GOOGLE,APPLE,AMAZON
1             JPM,BAC,GS
dtype: object

In [9]:
tickers.str.split(',')

0    [GOOGLE, APPLE, AMAZON]
1             [JPM, BAC, GS]
dtype: object

In [13]:
tickers.str.split(',').str[0]

0    GOOGLE
1       JPM
dtype: object

In [14]:
tickers.str.split(',',expand=True)

        0      1       2
0  GOOGLE  APPLE  AMAZON
1     JPM    BAC      GS

In [15]:
messy_names=pd.Series(['andrew  ','bo;bo','  clare  '])
messy_names

0     andrew
1        bo;bo
2      clare
dtype: object

In [19]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2     Clare
dtype: object

In [20]:
# pomocu custom metode
def cleanup(name):
    name=name.replace(';','')
    name=name.strip()
    name=name.capitalize()
    return name
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2     Clare
dtype: object

In [27]:
messy_names_df = pd.DataFrame([messy_names])
messy_names_df=messy_names_df.transpose()
messy_names_df.columns=['names']
messy_names_df

       names
0   andrew
1      bo;bo
2    clare

In [31]:
np.vectorize(cleanup)(messy_names_df['names'].values)

array(['Andrew', 'Bobo', 'Clare'], dtype='<U6')

In [32]:
np.vectorize(cleanup)(messy_names)

array(['Andrew', 'Bobo', 'Clare'], dtype='<U6')

In [33]:
pd.Series(np.vectorize(cleanup)(messy_names))

0    Andrew
1      Bobo
2     Clare
dtype: object

In [34]:
# vectorize najbrzi
# apply odmah iza vectorize
# pd built-in str functions su najsporije