In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

In [12]:
myyear=2015
mymonth=1
myday=31
myhour=2
mymin=30
mysec=15

In [13]:
mydate = datetime(myyear,mymonth,myday,myhour,mymin,mysec)
mydate

datetime.datetime(2015, 1, 31, 2, 30, 15)

In [14]:
mydate.strftime("%m/%d/%Y, %H:%M:%S")

'01/31/2015, 02:30:15'

In [16]:
myser = pd.Series(['Nov 3, 1990', '2000-01-31', None])
myser

0    Nov 3, 1990
1     2000-01-31
2           None
dtype: object

In [18]:
timeser=pd.to_datetime(myser)
timeser

0   1990-11-03
1   2000-01-31
2          NaT
dtype: datetime64[ns]